{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Alphonse Kaman</title>

    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'folioapp/assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="{% static 'folioapp/assets/css/meyawo.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav id="custom-navbar" class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="{% url 'folioapp:home' %}">Alphonse</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="{% url 'folioapp:home' %}">Accueil</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">Qui suis-je?</a>
                </li>
                <li class="item">
                    <a class="link" href="#portfolio">Portfolio</a>
                </li>
                <li class="item">
                    <a class="link" href="#testmonial">Temoignages</a>
                </li>
                <li class="item">
                    <a class="link" href="#blog">Blog</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contact</a>
                </li>
                <!-- <li class="item ml-md-3">
                    <a href="components.html" class="btn btn-primary">Components</a>
                </li> -->
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
            {% if user.is_authenticated %}
            <div class="connection-section">
                <div style="margin-right: .1rem;background-color: rgb(13, 206, 13); height: 10px; width: 10px; display: flex; align-items: center; border-radius: 50%;"></div>
                <span style="margin-right: 1.5rem"><a href="#!">{{ user.first_name }}</a></span>
                <form style="margin: 0;" id="logout-form" method="get" action="{% url 'logout' %}">
                {% csrf_token %}
                <button style="text-decoration: none;" type="submit" class="btn btn-link">Logout</button>
                </form>            
            </div>
          {% else %}
            <div class="login-section" style="text-decoration: none; margin-left: 2rem;"><a href="{% url 'login' %}">Login</a></div>
          {% endif %}
        </div>
    </nav><!-- End of Page Navbar -->
    {% block content %}
    {% endblock %}
    <!-- footer -->
    <div class="container">
        <footer class="footer">
            <p class="mb-0">Copyright, Alphonse Kaman
            </p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>

            </div>
            <a href="javascript:void(0)" class="link"><i class="ti-headphone-alt" style="margin-right: 1rem;"></i>623 04 00 31</a>
        </footer>
    </div> <!-- end of page footer -->

    <!-- core  -->
    <script src="{% static 'folioapp/assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'folioapp/assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
    <script src="{% static 'folioapp/assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Meyawo js -->
    <script src="{% static 'folioapp/assets/js/meyawo.js' %}"></script>

</body>

</html>