{% extends "base1.html" %}
{% load crispy_forms_tags %} 

{% load static %}
{% block title %}{{ single_post.title }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row post-container">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualiser votre commentaire:</h5>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="modal-footer">
                                <a href="" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
                                <button type="submit" class="btn btn-primary">Actualiser</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

